/* Navbar styles */
.navbar {
  background-color: blanchedalmond;
  color: #242424;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #242424;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}

/* Hover effect */
.navbar a:hover {
  background: #555;
  color: white;
  transform: scale(1.1);
}