<form class="form-group" method="post" action="/auth">

  <input type="text" placeholder="Username" name="username" required>
  <input type="password" placeholder="Password" name="password" required>

  <a href="/auth/signup">Signup</a>
  <button type="submit" name="action" value="login">Login</button>
</form>